{% extends 'base.html' %}
{% block title %}History{% endblock %}
{% block head %}

<main class="main-wrapper">
    {% endblock %}

    {% block body %}

    <div class="container">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>BTC Value</th>
                <th>Amount in USD</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <th>{{ transaction['id'] }}</th>
                    <td>{{ transaction['reg_date'] }}</td>
                    <td>0.001</td>
                    <td>20$</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    
</main>
{% endblock %}